.full.fancy-dark
  #footer.wrapper
    a.moz-logo(href="https://www.mozilla.org/")
    a.privacy(href="https://www.mozilla.org/privacy/") privacy
    a.contribute(href="https://github.com/mozilla/idea-town") contribute
