.full.fancy-dark
  #footer.wrapper
    a.moz-logo(href="https://www.mozilla.org/")
    a.privacy(href="https://www.mozilla.org/privacy/" data-l10n-id="privacy")
    a.contribute(href="https://github.com/mozilla/idea-town" data-l10n-id="contribute")

script(src="scripts/main.min.js")
script(src="scripts/l20n.min.js")
