#footer {
  @include clear-fix;
  padding-top: 100px;

  .moz-logo {
    @include hidpi-background-image('mozilla', 77px 20px);
    display: block;
    float: left;
    height: 20px;
    margin-right: 20px;
    width: 77px;
  }

  .boilerplate {
    color: $white;
    float: left;
    font-weight: 400;
    padding: 0 20px;
    position: relative;
    top: 4px;
  }
}
