#footer {
  @include clear-fix;
  padding-top: 100px;

  .moz-logo {
    @include hidpi-background-image("mozilla", 77px 20px);
    display: block;
    float: left;
    height: 20px;
    width: 77px;
  }

  .privacy,
  .contribute {
    color: $white;
    float: right;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    top: 4px;
  }
}
