#hero-wrapper {
  //background-color: #fff;
  //border-bottom: 1px solid #ccc;
}

#hero {
  @include flex-container;
  height: 360px;

  header {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
      h1 {
        font-weight: 600;
        font-size: 64px;
        margin: 0;
      }
      h2 {
        color: #499;
        font-size: 26px;
        font-weight: 300;
      }
  }

  .branding {
    flex: 0 0 360px;
    background-image: url(../images/rhadamanthus-fox.png);
    background-size: 240px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
