.main-nav-wrapper {
  background: $white;
  border-bottom: 1px solid #ccc;
  height: 48px;
  animation: move-down 350ms;
  position: absolute;
  width: 100%;
}

.main-nav {
@include flex-container;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 48px;
    flex: 1;
  }
  
  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
      flex: 1;
      display: flex;
      justify-content: center;
      line-height: 48px;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

@keyframes move-down {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
