.splash-logo {
  @include hidpi-background-image("splash-logo", 120px 120px);
  height: 120px;
  margin: 0 auto 30px;
  width: 120px; 
}

#splash-header {
  color: #fff;
  max-width: 600px;
  text-align: center;

  h1 {
    font-weight: 600;
    margin: 0 0 24px;
    text-shadow: 0 1px 0 $dark;

    @include respond-to('small') {
      font-size: 9vw;
    }

    @include respond-to('med-small') {
      font-size: 42px;
    }
  }

  h2 {
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 32px;
    text-shadow: 0 1px 0 $dark;

    @include respond-to('small') {
      font-size: 18px;
    }

    @include respond-to('med-small') {
      font-size: 18px;
    }

    @include respond-to('med-large') {
      font-size: 20px;
    }
  }

  input {
    border: 0;
    font-size: 18px;
    height: 40px;
    padding: 6px 10px 4px;

    &[type='text'] {
      border-radius: 0;
      color: $dark;

      @include respond-to('small') {
        width: 100%;
      }

      @include respond-to('med-small') {
        width: 338px;
      }
    }

    &[type='submit'] {
      background: lighten($light, 5%);
      border-radius: 0;
      color: $background;

      @include respond-to('small') {
        width: 100%;
      }

      @include respond-to('med-small') {
        width: 100px;
      }
    }
  }

  .parens {
    font-weight: 300;
    margin: 32px 0;
  }

  .splash-logo {
    @include hidpi-background-image("splash-logo", 120px 120px);
    height: 120px;
    margin: 0 auto 30px;
    width: 120px; 
  }

  .splash-email-submit {
    border-radius: 3px;
    box-shadow: 0 1px 0 $dark;
    margin: 0 auto 12px;
    overflow: hidden;

    @include respond-to('small') {
      width: 100%;
    }

    @include respond-to('med-small') {
      width: 440px;
    }
  }
}

#splash-content {

  .splash-image {
    background: $dark;
    border-radius: 50%;
    height: 150px;
    margin: 14px auto 24px;
    width: 150px;
  }

  .splash-title {
    color: $dark;
    font-size: 20px;
    text-align: center;
  }

  .splash-copy-point {
    color: $dark;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
  }
}
