#logo-header {
  z-index: 2;

  .splash-logo {
    @include hidpi-background-image("splash-logo", 600px 422px);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;

    @include respond-to('med-large') {
      height: 422px;
      top: 20px;
      width: 600px; 
    }

    @include respond-to('med-small') {
      background-size: 300px 211px;
      height: 211px;
      top: 25px;
      width: 300px;
    }
  }
}

#logo-header,
.logo-stripe {
  position: relative;

  @include respond-to('med-large') {
    height: 430px;
  }

  @include respond-to('med-small') {
    height: 230px;
  }
}

#splash-cta-container {
  position: relative;
  z-index: 1;
}

#splash-cta {
  text-align: center;

  h1 {
    margin: 0 0 24px;

    @include respond-to('med-small') {
      font-size: 7vw;
    }

    @include respond-to('med-large') {
      font-size: 70px;
    }
  }

  h2 {
    line-height: 32px;
    margin: 0 auto 32px;

    @include respond-to('small') {
      font-size: 18px;
    }

    @include respond-to('med-small') {
      font-size: 20px;
      max-width: 650px;
    }

    @include respond-to('med-large') {
      font-size: 24px;
      line-height: 36px;
      max-width: 650px;
    }
  }
}

#splash-content {

  .splash-image {
    background: $dark;
    border-radius: 50%;
    height: 150px;
    margin: 14px auto 24px;
    width: 150px;
  }

  .splash-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .splash-copy-point {
    font-size: 18px;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
  }
}

.disclaimer {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  margin: 24px 0 2px;

  a {
    color: $grey;
    font-weight: 400;
  }
}
