extends layout

block content
  .full.fancy-medium
      include includes/tabzilla

      #splash-header.wrapper
        header
          .splash-logo
          h1.splash-title(data-l10n-id="mainHeader")
          h2.splash-desc(data-l10n-id="subHeader")
          // p.parens #{parens}
        form(id="signupForm" role="form" class="splash-email-submit")
          input(type="email" id="email" name="email" placeholder="what's your email?")
          input(type="submit" id="signup" value="Sign up")
        // .error invalid email address...try again
        // include includes/mailchimp

    .full
      #splash-content.wrapper
        .row
          each splash in splashes
            .third
              .splash-image
              h3.splash-title= splash.title
              p.splash-copy-point= splash.desc
