

#tabzilla {
  @include respond-to('small') {
    display: none;
  }

  &:before {
    background: $medium;
  }
}

.dark {
  background: $dark;
}

.medium {
  background: $medium;
}

.light {
  background: $light;
}

.white {
  background: $white;
}

.fancy-medium {
  background-image: repeating-linear-gradient(118deg, $darker 0, $medium 250, $darker 250, $medium 800, $darker 800, $medium 950);
  background-position: center top;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.fancy-dark {
  background-image: repeating-linear-gradient(118deg, $dark 0, $darkest 250, $dark 250, $darkest 800, $dark 800, $darkest 950);
  background-position: center top;
}
