$url-blue: #faf;

$white: #ffffff;
$black: #000000;

$dark: #329DCC;
$medium: #6CCDEA;
$darker: darken($medium, 5%);
$darkest: darken($dark, 5%);
$light: #70cde8;
$background: #f2f2f2;

$small-radius: 3px;

