.full.fancy-medium
  include includes/tabzilla
  #splash-header.wrapper
    header
      .splash-logo
      h1.splash-title #{title}
      h2.splash-desc #{subheader}
      // p.parens #{parens}
    form.splash-email-submit
      input(type='text' placeholder='what\'s your email?')
      input(type='submit' value='Sign up')
    // .error invalid email address...try again
    // include includes/mailchimp

.full
  #splash-content.wrapper
    .row
      .third
        .splash-image
        h3.splash-title Lorem Ipsum
        p.splash-copy-point Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt placeat molestias?
      .third
        .splash-image
        h3.splash-title Lorem Ipsum
        p.splash-copy-point Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt placeat molestias?
      .third
        .splash-image
        h3.splash-title Lorem Ipsum
        p.splash-copy-point Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt placeat molestias?

include includes/footer
